@font-face {
    font-family: myfont;
    src: url("./fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: myfont1;
    src: url("./fonts/Poppins-Medium.ttf");
}

body{ 
    margin: 0px;
    
}
.logo{ 
    font-family: myfont;
}
.btnMenu{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    display: none;
}
.btnMenu img{ 
    width: 100%;
    height: 100%;
}
nav{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;

}
ul { 
    display: flex;
    gap: 30px;
    align-items: center;
}
li{ 
    list-style: none;
}
li a{ 
    text-decoration: none;
    color: black;
    font-family: myfont;
}
@media(max-width:700px){
    nav{ 
        padding: 5px 0px;
    }
  
    
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        gap: 0;
        overflow: hidden;
        
    }
    .btnMenu{ 
        display: block;
        transition: all 0.3s;
    }

    nav ul li{
        padding: 10px;
        padding-top: 0;
    }
   .slader-container{ 
    max-width: 80%;
   }
   .slader{ 
    max-width: 100%;
    height: 50%;
    background-color: rgb(113, 113, 155);
    transition: all 0.5s;
    margin: 0px 30px;
    padding: 45px 15px 75px;
    font-family: myfont;
    font-size: 1rem;
    background-color: #F9FAFA;
    display: flex;
    overflow:auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
   }
   .containre{ 
        flex: 1 0 100%;
        padding-left: 5%;
        scroll-snap-align:start;
   }
  
   #dropmenu{ 
    transition: all 0.5s;
   }

   .information h1{ 
    font-size: 40px;
    margin: 0px;
   }
   .information p{ 
    margin: 25px 0px ;
    font-size: 1rem;
    min-height: 50%;
    font-family: myfont1;

   }
   .Link1{ 
    color: white;
    font-family: myfont1;
    font-size: 1rem;
    background-color: #F89646;
    margin: 5px;
    min-width: 47%;
    height: 46px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
   }
   .Link2{ 
    min-width: 47%;
    height: 46px;
    color: white;
    font-family: myfont1;
    font-size: 1rem;
    background-color: #6BB7BE;
    margin: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
   }

   .LinkInfo{ 
    width: 100%;
    min-height:80px;
    font-family: 1rem;
    margin: 0px -5px;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: flex-start;
   }
   .imageInfo{ 
    padding: 0px 15px;
   
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .imageInfo img{ 
    width: 100%;
    height: 100%;
    
   }
   .objects-section{
    width: 100%;
    font-family: myfont;
    font-size: 1rem;
    padding: 70px 0px; 
    padding-bottom: 40px;
   }
   .objects-containre{ 
    width: 70%;
    padding: 45px 15px 75px;
    margin: 0px 30px;
   }
   .objects-containre h2{ 
    font-size: 32px;
    margin: 0px 0px 8px ;
   }
   .objects-containre p{ 
    font-family: myfont1;
    font-size: 1rem;
    margin: 0px 0px 16px;
    padding: 0px;
   }
   .box-containre{ 
    width:80% ;
   }
   .box{ 
    width: 100%;
    height: 50%;
    background-color: #F7FAFA;
    margin: 45px 0px 0px ;
    padding: 25px;
   }
   .img-box{ 
    padding: 25px;
   }
   .img-box img{ 
    width: 100%;
    height: 100%;
   }
   .detail-box{ 
    width: 100%;
   }
   .detail-box h5{ 
    font-size: 18px;
    margin: 0px 0px 8px;
    font-family: myfont;
   }
   .prix{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   }
   .prix h6{ 
    font-family: myfont1;
    font-size: 16px;
   }
   .prix span{ 
    font-family: myfont1;
    font-size: 1rem;
    color: #6BB7BE;
   }
   .prix a{ 
    font-family: myfont1;
    font-size: 1rem;
    color: #6BB7BE;
    text-decoration:none ;
   }
   .About-section{ 
    width: 90%;
    height: 40%;
    background-color: #F9FAFA;
    margin: 0px;
    padding: 30px 15px;
   }
   .about-img{ 
    width: 90%;
    height: 70%;
    padding: 0px 5% ;
   }
   .about-img img{ 
    width: 100%;
    height: 100%;
   }
  .detail-about h2{ 
    font-size: 32px;
    font-family: myfont;
    margin: 0px 0px 8px;
  }
  .detail-about p{ 
    font-family: myfont1;
    font-size: 1rem;
    margin: 10px 0px 35px;
  }
  .detail-about a{ 
    color: white;
    font-size: 1rem;
    font-family: myfont1;
    background-color: #6BB7BE;
    padding: 10px 45px;
    width: 30%;
    height: 46px;
    text-decoration: none;
    text-wrap: nowrap;
  }
  .test-plus{ 
    text-align: center;
  }
  .test-bloc{ 
    padding: 50px 0px;
    width: 100%;
  }
  .detail-about h5{ 
    font-size: 20px;
    padding: 0px 0px 8px;
    margin: 0px;
  }
  .test-div{ 
    padding: 25px;
    margin: 0px;
    background-color: #F9FAFA;
    
  }

.test-img{ 
    width: 100%;
    height: 70%;
    position: relative;
    top:3px;
}
.test-img img{ 
    width: 100%;
    height: 100%;
}
.test-section{ 
    width: 80%;
    height: 40%;
    background-color: #F9FAFA;
    margin: 25px;
   position: relative;
}
.foot-div{ 
    width: 80%;
    margin: 0px 25px;
    padding: 45px 15px;
    background-color: #191E1F;
    font-family: myfont1;
    color: white;
}
.foot-contact{ 
    display: flex;
    justify-content: center;
}
.phone{ 
    margin-top: 5%;
}

.phone-img{ 
    width: 20%;
    height: 20%;
    margin: 0px 50%;
}

.phone-img img{ 
    width: 100%;
    height: 100%;
}
.number{ 
    color: white;
    white-space: nowrap;
    text-align: center;
}
.location{ 
    padding-left: 20px;
}

.resume{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4%;
    margin: 0px 2%;
}
.quic-links{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quic-links h4{ 
    font-size: 24px;
}
.insta h5{ 
    font-size: 20px;
    text-align: center;
}
.quic-links a{ 
    text-decoration: none;
    color: white;
}
.feeds-img{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    gap: 2%;
}
.feeds-img div{ 
    height: 60px;
    width: 60px;
    background-color: white;
    margin: 2% 0px;
}
.feeds-img img{ 
    width: 100%;
    height: 100%;
}
.foot-end{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot-end h4{ 
    font-size: 24px;
    margin: 0px 0px 25px;
    padding: 0px;
}
.foot-end input{ 
    margin: 0px 0px 25px;
    height: 45px;
    width: 80%;
    border-radius: 10px;
    border-style: none;
}
.foot-end button{ 
    color: white;
    font-size: 70%;
    font-family: myfont1;
    background-color: #6BB7BE;
    width: 30%;
    height: 46px;
    text-decoration: none;
    text-wrap: nowrap;
    box-sizing: border-box;
    border-style: none;
    border-radius: 10px;
}
.foot-sub{ 
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-top: 25px;
}
.foot-sub div{ 
    width: 60px;
    height: 50px;
    border: 1px #6BB7BE;
    color: #191E1F;
    background-color: #6BB7BE;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-sub i{ 
    font-size: 2rem;
    
}
}

@media(max-width:500px){ 
    .information h1{ 
        font-size: 20px;
        margin: 0px;
    }
    .information p{ 
        margin: 5px 0;
        font-size: 10px;
    }
    .information a{
        height: 35px;
    }
    .containre{ 
        flex: 1 0 100%;
        padding-left: 8%;
        scroll-snap-align:start;
   }

   .slader{ 
    padding: 10px 15px 20px;
   }

}

@media(max-width:350px){ 
    .information h1{ 
        font-size: 20px;
        margin: 0px;
    }
    .containre{ 
        flex: 1 0 100%;
        padding-left: 9%;
        scroll-snap-align:start;
   }
}